.App {
  font-family: "Dancing Script", cursive;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background-color: #fefae0;
}
h3,
p,
h6 {
  font-family: "Poppins", sans-serif;
}

h2,
h4 {
  font-family: "Dancing Script", cursive;
}

input {
  width: 560px;

  background-color: #31525b;
  color: #fefae0;
  font-size: 18px;
  line-height: 32px;

  border-radius: 4px 0px 0px 4px;
}

/*default placeholder color*/
input::-webkit-input-placeholder {
  color: #fefae0;
}

/* placeholder text color for login and create */
.custom-input-placeholder::placeholder {
  color: #849aa0;
}

#mainbg {
  background-color: #fefae0;
  height: 570pt;
}

.bgimage {
  height: 320px;
  background: url("https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1635&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimage h3 {
  color: #fefae0;
  text-shadow: 2px 2px #31525b;
  margin-top: 20pt;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-right: 10px;
  font-size: 0.8em;
  background: #b3dee5;
}
