
.inputs{
    background: #FAE6B1;
}

.img {
   width: 100px;

  }

.div {
    font-family: "Poppins";
    font-style: "ExtraBold";
    color: #31525b;
}

button {
    color: #31525B;
    border-radius: 4px;
}
  

