small {
  font-family: "Poppins", sans-serif;
  font-size: small;
}

#imageDetail {
  box-shadow: 5px 5px 15px grey;
  margin-top: 50px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

#titleDetail{
  font-family: "Dancing Script";
  font-size: 40px;
  color: #31525b;
  text-shadow: 2px 2px 2px #dbb97e;
  text-align: center;
}


#allrecipe{
  font-family: "Poppins", sans-serif;
  Font-style: "SemiBold";
  text-align: right;
  color: #31525b;
  text-align: center;
}
