#buttonLogin {
  background: #ffa101;
  border-radius: 4px;
  color: #31525b;
  border-color: #ffa101;
  box-shadow: 0px 2px 2px #ffa101;
}

#titleLogin {
  color: #31525b;
  text-shadow: 0px 4px 4px #fae6b1;
}

/*INPUTSSSS, CON EL ID*/
#form-login input {
  display: block;
  border-radius: 8px;
  background: #fae6b1;
  border: #fae6b1;
  color: #31525b;
}

/*IMAGE*/

#imagelogin {
  box-shadow: 5px 5px 15px grey;
  margin-top: 10px;
  transform-style: preserve-3d;
  transition: all 1s linear;
}

#f1_container {
  position: relative;
  margin: 10px auto;

  z-index: 1;
}
#f1_container {
  perspective: 1000;
}

#f1_container:hover #imagelogin {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}
