h1 {
  font-family: Dancing Script;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;

  color: #ffa101;

  text-shadow: 0px 4px 4px #fefae0;
}

#logout {
  /* padding: 24px; */
  color: #31525b;
  text-shadow: 0px 2px 2px #fefae0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

#logout:hover {
  text-decoration: underline;
  cursor: pointer;
}

#searchbutton {
  background-color: #31525b;
  color: #fefae0;
  border-radius: 0px 4px 4px 0px;
  position: sticky;
  margin-right: 10pt;
  border-color: #fefae0;
}

#search-input {
  border-color: #fefae0;
  width: 40vw;
  margin-left: 15px;
}

i {
  margin-left: 12px;
}
/*
@media screen and (max-width: 768px) {
  #search-input {
    width: 60vw;
  }
}
*/
