header {
  background-color: #fae6b1;
  height: 80px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #31525b;
  text-shadow: 0px 4px 4px #fefae0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

nav a.selected {
  background-color: #ffa101;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 54px;
  color: #ffa101;

  text-shadow: 0px 4px 4px #fefae0;
}

#logout {
  /* padding: 24px; */
  color: #31525b;
  text-shadow: 0px 4px 4px #fefae0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

#logout:hover {
  text-decoration: underline;
  cursor: pointer;
}
